# Data Science Bootcamp Week1
---

### Our Goal
---
- Analyze the data to be able to understand the salaries of Data Analysts 
- This will enable Data Analysts to be able to the expected salary in respect to various variables at hand


## Exploratory Data Analysis (EDA)

Exploratory Data Analysis is a process used to analyse the datasets and summarize their main characteristics

It helps look at data before making any assumptions.
It helps understand patterns within the data, detect outliers or anomalous events.

<strong> Importing Libraries </strong><br/>
- pandas 
- numpy 
- matplotlib - it a library used for plotting visualizations in python.

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading DataSets

In [52]:
it_salary_2018 = pd.read_csv('archive/IT Salary Survey EU 2018.csv')
it_salary_2019 = pd.read_csv('archive/IT Salary Survey EU 2019.csv')
it_salary_2020 = pd.read_csv('archive/IT Salary Survey EU  2020.csv')

Joining the data from the three years:<br/>
- 2018
- 2019
- 2020

In [53]:
it_salary = pd.concat([it_salary_2018, it_salary_2019, it_salary_2020], ignore_index=True)

The consolidated data overview

In [54]:
it_salary.head(3)

,Timestamp,Age,Gender,City,Position,Years of experience,Your level,Current Salary,Salary one year ago,Salary two years ago,...,Years of experience in Germany,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,Annual bonus+stocks one year ago. Only answer if staying in same country,Employment status,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,14/12/2018 12:41:33,43.0,M,München,QA Ingenieur,11.0,Senior,77000.0,76200.0,68000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14/12/2018 12:42:09,33.0,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,55000.0,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14/12/2018 12:47:36,32.0,M,München,Software Engineer,10.0,Senior,88000.0,73000.0,54000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Understanding the Data
---

In [55]:
it_salary.shape

(3009, 42)

In [56]:
it_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 42 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                2018 non-null   object
 1   Age                                                                                                                      2780 non-null   float64
 2   Gender                                                                                                                   2985 non-null   object
 3   City                                                                                                                     2980 non-null   object
 4   Position                                                                                                                 737 non-null    object
 5   Years of experience                                                                                                      1723 non-null   float64
 6   Your level                                                                                                               743 non-null    object
 7   Current Salary                                                                                                           750 non-null    float64
 8   Salary one year ago                                                                                                      596 non-null    float64
 9   Salary two years ago                                                                                                     463 non-null    float64
 10  Are you getting any Stock Options?                                                                                       742 non-null    object
 11  Main language at work                                                                                                    2973 non-null   object
 12  Company size                                                                                                             2962 non-null   object
 13  Company type                                                                                                             2918 non-null   object
 14  Zeitstempel                                                                                                              991 non-null    object
 15  Seniority level                                                                                                          2217 non-null   object
 16  Position (without seniority)                                                                                             990 non-null    object
 17  Your main technology / programming language                                                                              2103 non-null   object
 18  Yearly brutto salary (without bonus and stocks)                                                                          990 non-null    float64
 19  Yearly bonus                                                                                                             530 non-null    float64
 20  Yearly stocks                                                                                                            203 non-null    float64
 21  Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country                     603 non-null    float64
 22  Yearly bonus one year ago. Only answer if staying in same country                                                        257 non-null    float64
 23  Yearly stocks one year ago. Only answer if staying in same country                                                       139 non-null    float64
 24  Number of vacation days                                                                                                  2116 non-null   object
 25  Number of home office days per month                                                                                     639 non-null    float64
 26  Company name                                                                                                             257 non-null    object
 27  Сontract duration                                                                                                        2186 non-null   object
 28  Company business sector                                                                                                  846 non-null    object
 29  0                                                                                                                        0 non-null      float64
 30  Position                                                                                                                 1247 non-null   object
 31  Total years of experience                                                                                                1237 non-null   object
 32  Years of experience in Germany                                                                                           1221 non-null   object
 33  Other technologies/programming languages you use often                                                                   1096 non-null   object
 34  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 35  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 36  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 37  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 38  Employment status                                                                                                        1236 non-null   object
 39  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 40  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 41  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(16), object(26)
memory usage: 987.5+ KB

In [57]:
it_salary.notnull().sum()

Timestamp                                                                                                                  2018
Age                                                                                                                        2780
Gender                                                                                                                     2985
City                                                                                                                       2980
Position                                                                                                                    737
Years of experience                                                                                                        1723
Your level                                                                                                                  743
Current Salary                                                                                                              750
Salary one year ago                                                                                                         596
Salary two years ago                                                                                                        463
Are you getting any Stock Options?                                                                                          742
Main language at work                                                                                                      2973
Company size                                                                                                               2962
Company type                                                                                                               2918
Zeitstempel                                                                                                                 991
Seniority level                                                                                                            2217
Position (without seniority)                                                                                                990
Your main technology / programming language                                                                                2103
Yearly brutto salary (without bonus and stocks)                                                                             990
Yearly bonus                                                                                                                530
Yearly stocks                                                                                                               203
Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country                        603
Yearly bonus one year ago. Only answer if staying in same country                                                           257
Yearly stocks one year ago. Only answer if staying in same country                                                          139
Number of vacation days                                                                                                    2116
Number of home office days per month                                                                                        639
Company name                                                                                                                257
Сontract duration                                                                                                          2186
Company business sector                                                                                                     846
0                                                                                                                             0
Position                                                                                                                   1247
Total years of experience                                                                                                  1237
Years of experience in Germany                                                                                             1221
Other technologies/programming languages you use often                                                                     1096
Yearly brutto salary (without bonus and stocks) in EUR                                                                     1253
Yearly bonus + stocks in EUR                                                                                                829
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    885
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    614
Employment status                                                                                                          1236
Have you lost your job due to the coronavirus outbreak?                                                                    1233
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                           373
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR     462
dtype: int64

The DataFrame contains:
- 3009 entries
- 42 features
- Non of the features is complete 

Some Columns are not instrumental in determining the salary:
- `Have you lost your job due to the coronavirus outbreak?`
- `Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week:`
- `Have you received additional monetary support from your employer due to Work From Home? If yes, how much 2020 in EUR:`

Drop the columns

In [58]:
it_salary.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position', 'Years of experience',
       'Your level', 'Current Salary', 'Salary one year ago',
       'Salary two years ago', 'Are you getting any Stock Options?',
       'Main language at work', 'Company size', 'Company type', 'Zeitstempel',
       'Seniority level', 'Position (without seniority)',
       'Your main technology / programming language',
       'Yearly brutto salary (without bonus and stocks)', 'Yearly bonus',
       'Yearly stocks',
       'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country',
       'Yearly bonus one year ago. Only answer if staying in same country',
       'Yearly stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Number of home office days per month',
       'Company name ', 'Сontract duration', 'Company business sector', '0',
       'Position ', 'Total years of experience',
       'Years of experience in Germany',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Employment status',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [59]:
it_salary = it_salary.drop('Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country', axis=1)
it_salary = it_salary.drop('Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week', axis=1)
it_salary = it_salary.drop('Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR', axis=1)
it_salary = it_salary.drop('Timestamp', axis=1)
it_salary = it_salary.drop('Yearly bonus + stocks in EUR', axis=1)
it_salary = it_salary.drop('Annual bonus+stocks one year ago. Only answer if staying in same country', axis=1)
it_salary.shape

(3009, 36)

<strong>Rename Columns for Readability</strong>

In [60]:
it_salary.rename(columns = {
    'Total years of experience':'experience',
    'Years of experience in Germany':'germany_experience',
    'Seniority level':'work_level',
    'Your main technology / programming language':'main_tech',
    'Other technologies/programming languages you use often':'other_tech',
    'Number of vacation days':'vacation_days',
    'Yearly brutto salary (without bonus and stocks) in EUR':'yearly_salary',
    'Employment status':'emp_state',
    'Сontract duration':'contract_duration',
    'Main language at work':'main_language',
    'Company size':'company_size',
    'Company type':'company_type',
    'Have you lost your job due to the coronavirus outbreak?':'covid_lost',
    'Age':'age',
    'Gender':'gender',
    'City':'city',
    'Position ':'position'
    
}, inplace = True)

In [61]:
it_salary

,age,gender,city,Position,Years of experience,Your level,Current Salary,Salary one year ago,Salary two years ago,Are you getting any Stock Options?,...,contract_duration,Company business sector,0,position,experience,germany_experience,other_tech,yearly_salary,emp_state,covid_lost
0,43.0,M,München,QA Ingenieur,11.0,Senior,77000.0,76200.0,68000.0,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33.0,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,55000.0,55000.0,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32.0,M,München,Software Engineer,10.0,Senior,88000.0,73000.0,54000.0,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25.0,M,München,Senior Frontend Developer,6.0,Senior,78000.0,55000.0,45000.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,39.0,M,München,UX Designer,10.0,Senior,69000.0,60000.0,52000.0,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,31.0,Male,Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unlimited contract,NaN,NaN,Backend Developer,9,5,"Python, Javascript / Typescript, Java / Scala,...",70000.0,Full-time employee,Yes
3005,33.0,Male,Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unlimited contract,NaN,NaN,Researcher/ Consumer Insights Analyst,10,1.5,NaN,60000.0,Full-time employee,No
3006,39.0,Male,Munich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unlimited contract,NaN,NaN,IT Operations Manager,15,2,"Python, C/C++, Javascript / Typescript, Java /...",110000.0,Full-time employee,No
3007,26.0,Male,Saarbrücken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unlimited contract,NaN,NaN,Frontend Developer,7,7,"Javascript / Typescript, Docker, HTML, CSS; Ad...",38350.0,Full-time employee,No
3008,26.0,Male,Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unlimited contract,NaN,NaN,DevOps,2,2,"Python, AWS, Kubernetes, Docker, terraform, an...",65000.0,Full-time employee,No

<strong>Check Structure Error and Null Values</strong>

In [62]:
for i in it_salary.columns:
    print(i, ': Null Values are ', it_salary[i].isnull().sum(),
          '\n', it_salary[i].unique(),
          '\n', '-'*50)

age : Null Values are  229
 [43. 33. 32. 25. 39. 37. nan 36. 30. 40. 31. 29. 24. 44. 34. 28. 35. 38.
 27. 41. 26. 22. 42. 52. 50. 49. 23. 21. 48. 45. 60. 47. 46. 51. 54. 20.
 59. 66. 56. 53. 65. 69.]
 --------------------------------------------------
gender : Null Values are  24
 ['M' 'F' nan 'Male' 'Female' 'Diverse']
 --------------------------------------------------
city : Null Values are  29
 ['München' 'Berlin' 'Karlsruhe' 'Hamburg' 'Augsburg ' 'Bremen' 'Frankfurt'
 nan 'Regensburg' 'Lisbon' 'Leipzig' 'Stuttgart' 'Amsterdam' 'Luxembourg'
 'Bern' 'Bonn' 'Köln' 'Baden-Württemberg ' 'Frankonia' 'Stuttgart '
 'Mannheim ' 'Bayern' 'Tübingen' 'Brno' 'Dresden' 'Krakow' 'Dublin'
 'Eindhoven' 'Amsterdam ' 'Konstanz' 'Dublin ' 'Prague' 'Moscow'
 'Stockholm' 'Belgrade, Serbia' 'Kyiv' 'Nürnberg' 'Karlskrona' 'Krakau'
 'Vienna' 'London' 'Bitburg' 'Gdansk' 'Poland' 'Düsseldorf' 'Ludwigsburg'
 'Essen' 'Strasbourg' 'Alicante, Spain' 'Warsaw' 'Memmingen' 'Tallinn'
 'Zurich' 'oslo' 'Münster' 'Hildesheim' 'Krakow, Poland' 'Rosenheim'
 'Darmstadt' 'bremen' 'Brussels' 'Nürnberg ' 'Schleswig-Holstein' 'Riga'
 'Koblenz' 'homeoffice' 'Limassol' 'saint petersburg' 'Erlangen' 'Siegen'
 'Remote Germany' 'Ireland, Dublin' 'Oberhausen' 'estonia' 'Andernach'
 'Munich' 'Cologne' 'Wolfsburg' 'MA' 'Nuremberg' 'Wroclaw' 'Ingolstadt'
 'Dusseldorf' 'Freiburg' 'Pforzheim' 'Kassel ' 'Madrid' 'Marburg'
 'Hannover' 'Paris' 'Milan' 'Odesa' 'Cork' 'Zug' 'Heidelberg' 'Bielefeld'
 'Jyvaskyla' 'Toulouse' 'Dubai' 'Lingen' 'Lugano' 'Walldorf'
 'Braunschweig' 'Kaiserslautern' 'Saint Petersburg' 'Eindhoven '
 'Leeuwarden' 'Hilversum' 'Gdańsk' 'Gothenburg' 'Almere' 'Tampere'
 'Rotterdam' 'Antwerpen' 'Würzburg ' 'Lausanne' 'Nizhny Novgorod '
 'Saint-Petersburg ' 'Minsk' 'Utrecht' 'Kiev' 'Konstanz area' 'Kempten'
 'Moldova' 'Boeblingen' 'Ansbach' 'Mannheim' 'Tuttlingen' 'Aachen'
 'Karlsruhe ' 'Samara' 'Riga, Latvia' 'Helsinki' 'Würzburg' 'Den Haag'
 'Cracovia' 'Braunschweig ' 'Malta' 'Lübeck' 'Nuremberg ' 'Bodensee'
 'Salzburg' 'Rome' 'Cupertino' 'Paderborn' 'Ulm' 'Düsseldorf ' 'Barcelona'
 'Bölingen' 'Tampere (Finland)' 'Bucharest' 'Marseille' 'Friedrichshafen'
 'France' 'Warsaw, Poland' 'Heilbronn' 'Dortmund' 'Jena' 'City in Russia'
 'Cracow' 'Brunswick' 'Sofia' 'Luttich' 'Milano' 'Basel' 'NJ, USA'
 'Istanbul' 'warsaw' 'Heidelberg ' 'Murnau am Staffelsee ' 'Zürich'
 'Innsbruck' 'Brussels ' 'Hildesheim ' 'Prefer not to say' 'Dusseldurf'
 'Fr' 'Duesseldorf' 'Cambridge' 'Copenhagen' 'Sevilla' 'Ingolstadt '
 'Saint-Petersburg' 'Saarbrücken']
 --------------------------------------------------
Position : Null Values are  2272
 ['QA Ingenieur' 'Senior PHP Magento developer ' 'Software Engineer'
 'Senior Frontend Developer' 'UX Designer' 'Project Manager'
 'Senior Android Developer' 'Data science team lead'
 'Test Automation Engineer' 'Frontend Developer'
 'Senior Full-stack .Net Developer' 'QA Lead' 'Front-end engineer'
 'Software Developer' 'QA Test Engineer' 'QA Manager' 'CTO'
 'Cloud Consulting' 'QA' 'Frontend Engineer' 'Head of IT'
 'Senior Software Engineer' 'Operations manager' 'Product Manager'
 'Software engineer ( React/React-native )' 'iOS Developer '
 'Senior DevOps' 'C# Developer' 'ERP/BI Specialist' 'Full stack developer'
 'Systems Administrator' 'Senior Software Developer' 'C++ developer' 'PM'
 'Android Developer' 'Software Architect' 'Embedded Software Engineer'
 'iOS developer' 'Data Engineer' 'iOS Developer' 'PHP Developer'
 'Ruby developer' 'Embedded engineer' 'Java Fullstack Developer'
 'Mobile App Developer' 'Scala Developer' 'DevOps' 'Consultant' 'BA/PM'
 'DevOps Engineer' 'C++ Software Enginеer' 'Automation QA'
 'Java Developer' 'Backend Developer' 'Frontend developer' 'SDET'
 'Technical Lead' 'FrontEnd dev' 'Technical product manager'
 'Javascript software developer' nan 'Graphic Designer' 'Manager'
 'Senior/Lead Developer' 'Senior QA' 'Technical Product Manager'
 'Mobile Lead' 'Front-end developer' 'Data scientist' 'Head of Product '
 'Research Engineer' 'PHP Backend Developer' 'SW Developer'
 'Senior Engineer (PHP)' 'webdev' 'Web Developer ' 'QA '
 'Machine Learning Engineer' 'Data Scientist'
 'Principal Software Engineer' 'FrontEnd Developer'
 'Senior Javascript Engineer' 'Engineering Manager' 'SDE' 'Python dev'
 'QA Engineer ' 'Android developer ' 'Web Designer'
 'Senior Software Engineer ' 'Senior Backend Developer' 'Agile coach'
 'MTS' ' .Net Developer' 'Python developer' 'Embedded Developer'
 '.NET developer' 'Seniour software developer' 'Junior IT Manager'
 'Full stack developer ' 'IT Project Manager' 'Business Analyst'
 'fullstack developer' 'Frontent Developer' 'Senior Java Developer'
 'Scala developer' 'UX/UI designer' 'Senior Java' 'SRE' 'developer' 'DBA'
 'Computational Linguist' 'SAP Basis Administrator'
 'Programmierer/Consultant' 'Full stack engineer' 'Software engineer'
 'Database Administrator' 'Software Engineer JavaSctipt' 'Developer'
 'Head of Engineering' 'product manager' 'Angular' 'Full Stack Developer'
 'Mobile developer' 'Software Engineer (Android)' 'SAP Consultant'
 'QA Engineer' 'Computer Vision Engineer' 'Digital Project Manager'
 'Backend developer' 'Machine Learning Engineet' 'Lead Software Engineer'
 'Head of Development' '.net' 'IT Consultant' 'Embedded SW Developer'
 'C++ Developer ' 'System Engineer' 'Marketing Manager'
 'Software developer' 'Erlang Developer' 'backend developer' 'Engineer'
 'IT admin' 'Senior Ruby Developer' 'Senior Backend Engineer'
 'Senior software engineer' 'Senior Data Scientist' 'Fullstack JS'
 'Java developer' 'Principal Engineer ' 'PHP Dev' 'Big Data Engineer'
 'C++ Developer' 'Java Developer ' 'Sysadmin'
 'Low level software developer' 'Full-stack Developer'
 'Site Reliability engineer ' 'Project manager' 'Software Engineer '
 'Architect' 'Sales ops team lead ' 'Manual QA' 'Head of BI'
 'Senior PHP Developer' 'Fullstack' 'Team Lead' 'PD' 'IT Berater'
 'Java & JS Developer' 'Java developer ' 'Frontend developer '
 'DevOps engineer ' 'web developer' 'Senior Software engineer C++'
 'network engineer ' 'C# Developer ' 'Senior Sys Admin'
 'Senior PHP developer' 'QA Consultant ' 'TA Engineer'
 'Senior software engineer ' 'Java script' 'Frontend' 'Lead DevOps'
 'Hardware Engineer ' 'System Administrator' 'Python Developer'
 'Javascript Developer in Test' 'CEO' 'Front-end developer '
 'DevOps Architect ' 'BI Developer' 'SEM Manager' 'IOS developer '
 'Lead developer' 'Software Engineer 2(Frontend)' 'QA Automation Engineer'
 'Systems engineer' 'Oracle Developer' 'Oracle Pl/SQL Developer'
 'BI developer' 'Senior JS Enigneer' 'Perl/Java Developer'
 'Python Test Automation Engineer' 'Senior .Net developer' 'C++ Engineer'
 'IT Administration' 'iOS developer ' 'Scala\\Java'
 'Full-Stack Web Developer' 'Go Developer' 'ios developer'
 'Senior Fullstack' 'Java Software Engineer ' 'Senior Web Developer '
 'Java/JS Developer' 'Senior Software Engineer (Data Engineer)'
 'IT-Consultant' 'System administrator' 'Team lead PHP'
 'Web Analytics Manager' 'Deep Learning Researcher (PHD)'
 'Software Architekt ' 'Solution Engineer'
 'Senior SQL Server DBA/Developer' 'QA Automation'
 'Senior Software Ingenieur Java' '.net developer ' 'Lead Architect'
 'Quality engineer' 'Devops' 'Scrum Master' 'Software Test Engineer'
 'Sr. JS Developer' 'Javascript Developer' 'SAP Business Analyst'
 'Business Intelligence Analyst' 'Product manager'
 'Software Developer (Python Backend)' 'System administrator ' 'Designer'
 'CTO ' 'Lead Developer' 'java fullsteck developer'
 'Unreal Engine Developer, System Architect' 'Tech lead'
 'JavaScript Developer' 'Software engineer ' 'Senior iOS Developer'
 'Test Engineer' 'DB Developer' 'Ruby Developer'
 'SAP Consulter/ABAP Developer ' 'Business Analyst/RE' 'C++ sr. s/w dev'
 'Android dev' 'Senior Web Deleloper' 'Automation Test Engineer' 'SSE'
 'Web Developer' 'Senior .Net Developer' 'Front End Engineer'
 'Werkstudent Testautomatisierung' 'ios вумудщзук' 'iOS Developwr'
 '.NET Developer' 'C++ Software Engineer' 'Software Development Engineer'
 'Engineering consultant' 'Android developer' 'java developer'
 'System Architect' 'PHP Full Stack Developer' 'System Analyst'
 'DevOps engineer' 'Senior quant' 'Data Developer'
 'Data Processing Specialist' 'Senior Software engineer'
 'Senior Automation Test Engineer' 'Operations' 'Golang developer'
 'Softwaredeveloper' 'Front End developer' 'DevOps (MS Stack)'
 'Head of Data Science' 'DevOps Architect' 'Sr. Engineer'
 'qa ta architect' 'Head of Software Engineering ' 'Quality Engineer'
 'Java dev' 'PHP developer' 'Staff Technical Product Manager'
 'PHP Tech Lead' 'UI Designer' 'Pyhon developer' 'C++ Software Developer'
 'Java Team Lead' 'Quality assurance' 'DB ' 'Fullstack Engineer'
 'Senior automation qa' 'QA automation ' 'PL SQL / C#' 'Senior Consulter'
 'devops' 'Cloud Architect' 'SharePoint Developer' 'Big Data Developer '
 'DWH expert' 'Senior Full stack developer' 'Android dev.'
 'Senior Embedded Developer' 'C#.net Developer' 'It security '
 'Deep Learning Engineer' 'Application Engineer '
 'Software Engineer (java)' 'Senior Data Engineer' 'android developer'
 'PHP Symfony' 'C#' 'Java Full-Stack Developer'
 'IT Infrastructure consultant' '1С' 'Hardware Developer'
 'Software Tester' 'Web-Entwickler' 'Architekt'
 'ML/Research (30 hours weekly)' 'Electrical Engineer'
 'Research Scientist (AI)' 'Senior Research Engineer' 'Sr project manager'
 '.net c# developer' 'C++ Lead Developer' 'Network engineer'
 'data scientist' 'Security Researcher' 'team lead'
 'Senior javascript developer' 'Senior .NET Engineer'
 'Data Science Team Lead' 'Product Security Engineer' 'Php developer'
 'Javascript Engineer' 'IT recruiter ' 'NAV Developer ' 'C++  developer'
 'Solution Architect' 'Senior iOS developer'
 'System Administrator (Windows)' 'Lead Java Developer' 'DWH Developer'
 'Software Developer ' 'Backend Engineer'
 'Senior Software Testing Engineer' 'Full-stack developer' 'qa'
 'Sap developer' 'Full stack'
 'Senior Sotfware Engineer (Typescript/Javascript)' 'c# developer'
 'Data analyst' 'c++' '.net developer' 'Projectingenieur'
 'Gruppenleiter Testing' ' Java Developer' 'Teamlead'
 'Director of Engineering' 'Solutions architect' 'PCB Designer'
 'IT специалист' 'Front End Developer ' 'Associate IT Consultant' 'C# dev'
 'Java Script developer' 'BI Consultant' 'Senior Tech recruiter'
 'Computer Vision Intern' 'Devops Engineer' 'Software tester' 'Producer'
 'Senior QA Engineer' 'Senior Java developer' 'SAP Developer'
 'Sr. Database Entwickler (Oracle/Java)' '32' 'Lead software engineer'
 'Project Manager ' 'Softwareentwickler' 'IT Engineer'
 'Java Developer junior' 'E.g. C# Developer' 'Pm ']
 --------------------------------------------------
Years of experience : Null Values are  1286
 [11.   8.  10.   6.   5.   3.  18.   nan  4.  17.  19.  15.  12.   2.
  1.   9.   7.  20.   7.5 14.  13.   0.5  2.5  1.5 16.   0.  25.  30.
 38.  21.   4.5 22.  24.  28. ]
 --------------------------------------------------
Your level : Null Values are  2266
 ['Senior' 'Middle' 'Junior' nan]
 --------------------------------------------------
Current Salary : Null Values are  2259
 [ 77000.  65000.  88000.  78000.  69000.  98000. 109000.  60000.  70000.
  55000.  94500.  46000.  68000.  62500.  80000. 132250.  53000.  52000.
  95000.  72000.  66000.  75800.  84000.  57000.  58000.  36000.  75000.
  90000. 113000.  50000.  71000.  49000.  56000.  30000.  45000.  40000.
  54000.  48000.  61000.  87000.  73000.  85000.  82000.  67000.  62000.
  83000. 100000. 120000.  78600.  89000.  43000. 107000.  64000.  63000.
  50400.  32000.  42000.  74000.  72500. 102000.  35000.  55800. 115000.
 176000.  44000.  92000. 125000.  76000.  48500.  34000.  70500.  96000.
  86000. 200000.  73300.  73500. 130000.  47500.  81000. 140000.  53500.
  87975.     nan  31500. 110000. 112000.  59000.  47000.  68400.  67200.
 111000.  40800.  92100.  38000.  10300.  24000.  39600.  64400.  57800.
  20400.  47300.  23162.  17532.  19200.  51750. 108000.  38400.  51000.
  69600.  58500. 150000.  47250.  39000.  64500. 122000. 165000. 138000.
  39150.  67500.  37000.  33600. 132000.  87500. 128000. 180000.  57500.
 103000.  53600.  51600.  60500.  15000. 127000.  93000.  27000.  33000.
  83200.  80400.  13000.  71500.  55555.]
 --------------------------------------------------
Salary one year ago : Null Values are  2413
 [ 76200.  55000.  73000.  60000.  96000.  50000. 105000.  58000.  48000.
  57500.  66000.     nan  91300.  44000.  65000.  47000.  62500.  70000.
  92600.  53000.  40000.  95000.  74000.  72000.  84000.  52000.  56000.
 100000.  80000.  45000.  78000.  57000.  61000.  68000.  22400.  46000.
  49050.  75000.  29000.  20000.  85000.  41000.  62000.  30000.  90000.
  36000.  51000.  54000.  23000.  82000.  43200.  13000.  42000.  92000.
  35000.  52800.  63000. 110000.  24480.  88000.  69000.  77000.  57600.
 115000.  71000.  34000.  94000.  55700.  67000.  43000.  76000.  25000.
  87000. 200000. 120000.  49500.  72500. 130000.  24000. 125000.  53500.
  60500.  50400.  17400.  18000.  59000.  64000.  79000.  39200.  28000.
  89300.  10300.  16500.  33600.  58400.  20400.  10500.  23162.  97000.
  89000.  11520.  31000.  14400.  12000.  93000.  38000.  52600. 124000.
  33550.  10800.  67500.  84500. 119000.  37000. 106000.  44800.  52200.
  14000.  68600. 129000.  39000. 123000.  10001.  76500.  55555.  83000.]
 --------------------------------------------------
Salary two years ago : Null Values are  2546
 [ 68000.  55000.  54000.  45000.  52000.  96000.  50000.  97000.  42000.
  48000.     nan  34000.  86300.  44000.  63000.  92600.  40000.  90000.
  30000.  84000.  60000.  38000.  85000.  72000.  67000.  76000.  10001.
  66000.  56000.  82000.  42500.  65000.  27000.  70000.  16000.  57000.
  43000.  58000.  12000.  69000.  75000.  32000.  18000.  38400.  13000.
  36000.  35000. 100000.  41000.  24480.  80000.  20000.  51000.  60600.
  64000.  15000.  92000.  68500.  49000.  47000.  62000.  61000. 150000.
 120000.  26000. 130000.  22000.  53000. 115000.  95000.  17000. 105000.
  59000.  62500.  28000.  87600.  10300.  16500.  20400.  95500.  88000.
  74000.  24000.  10800.  37050.  77000.  10500.  91000.  47500.  53500.
  83000. 102000. 110000. 124000. 103000.  27950.  33600. 119000.  37000.
  98000.  44800.  39000. 125000. 118000.  64500.  55555.]
 --------------------------------------------------
Are you getting any Stock Options? : Null Values are  2267
 ['No' 'Yes' nan]
 --------------------------------------------------
main_language : Null Values are  36
 ['Deutsch' 'English' 'Russian' 'French'
 'Team - Russian; Cross-team - English;' 'Polish' nan 'Deutsch/Englisch'
 'English+Deutsch' 'Spanish' 'Italian' 'Dutch' 'Polish+English'
 'Ukrainian' 'German' 'English and German' '50/50' 'Русский' 'Czech'
 'Deuglisch' 'both' 'Russian, English']
 --------------------------------------------------
company_size : Null Values are  47
 ['100-1000' '50-100' '1000+' '10-50' 'up to 10' nan '51-100' '101-1000'
 '11-50']
 --------------------------------------------------
company_type : Null Values are  91
 ['Product' 'Ecom retailer' 'Insurance' nan 'Startup' 'Agency' 'Big Tech'
 'Consultancy' 'Corporation' 'Outsource' 'Industry' 'E-Commerce firm'
 'Consulting' 'Internal development for a non-IT company'
 'Personaldienstleister' 'ipo' 'e-commerce' 'Product and Projects'
 'E-Commerce' 'Development' 'Consulting Company' 'IT Dienstleistungen '
 'Manufacturing' 'Stock market ' 'telecom operator' 'Ecommerce'
 'Outsourcing' 'Outsorce' 'consulting' 'GmbH' 'IT Consulting '
 'IT Consultancy ' 'IT Service Provider' 'non-IT, manufacturing' 'Bank '
 'IT-Beratung' 'Technology Consulting' 'outsource' 'IT Consultants'
 'Hochschule/university' 'ISP' 'Fin Tech' 'Blockchain technology' 'Retail'
 'Consult' 'Project-based software development' 'Automotive' 'OEM'
 'Consulting (banking)' 'IT Consulting' 'Consulting / Agency'
 'Bodyshop / Outsource' 'University' 'Bank' 'Media' 'Personal Ltd' 'Cloud'
 'Behörde' 'Construction' 'Big commercial' 'Fintech'
 'IT Department of established business' 'Telecommunications' 'E-commerce'
 'Systemhaus' 'consumer goods' 'IT-Outsourcing' 'Game Company'
 'Financial ' 'Publishing and Technology' 'Market Research ' 'SaaS'
 'Publisher' 'Energy ' 'Enterprise' 'Bloody enterprise' 'service'
 'Concern' 'Utilities' 'Science Institute ' 'Research institute'
 'Semiconductor' 'Automotive ' 'Institute' 'Finance' 'Handel '
 'Consulting and Product' 'Education' 'Pharma'
 'Full-time position in Education, part-time position in at a data startup'
 'Corporation ' 'Transport & Logistics' 'Biergarten ' 'Non-tech retail'
 'Research' 'corporate incubator' 'Multinational ' 'FAANG' 'Old industry'
 'Outsourse' 'freelance' 'eCommerce']
 --------------------------------------------------
Zeitstempel : Null Values are  2018
 [nan '02.12.2019 11:18:26' '02.12.2019 11:18:35' '02.12.2019 11:18:56'
 '02.12.2019 11:19:08' '02.12.2019 11:19:37' '02.12.2019 11:20:30'
 '02.12.2019 11:21:26' '02.12.2019 11:21:31' '02.12.2019 11:21:38'
 '02.12.2019 11:21:52' '02.12.2019 11:21:55' '02.12.2019 11:22:36'
 '02.12.2019 11:22:43' '02.12.2019 11:23:23' '02.12.2019 11:23:31'
 '02.12.2019 11:24:20' '02.12.2019 11:24:53' '02.12.2019 11:24:54'
 '02.12.2019 11:25:24' '02.12.2019 11:25:36' '02.12.2019 11:25:49'
 '02.12.2019 11:26:09' '02.12.2019 11:27:04' '02.12.2019 11:27:41'
 '02.12.2019 11:30:24' '02.12.2019 11:30:34' '02.12.2019 11:31:32'
 '02.12.2019 11:31:55' '02.12.2019 11:32:46' '02.12.2019 11:32:52'
 '02.12.2019 11:32:59' '02.12.2019 11:36:20' '02.12.2019 11:37:44'
 '02.12.2019 11:37:53' '02.12.2019 11:39:53' '02.12.2019 11:41:59'
 '02.12.2019 11:44:10' '02.12.2019 11:45:24' '02.12.2019 11:45:54'
 '02.12.2019 11:46:17' '02.12.2019 11:46:58' '02.12.2019 11:48:35'
 '02.12.2019 11:49:02' '02.12.2019 11:49:03' '02.12.2019 11:50:47'
 '02.12.2019 11:51:31' '02.12.2019 11:51:56' '02.12.2019 11:52:36'
 '02.12.2019 11:53:51' '02.12.2019 11:54:30' '02.12.2019 11:57:08'
 '02.12.2019 12:01:48' '02.12.2019 12:02:15' '02.12.2019 12:02:42'
 '02.12.2019 12:03:44' '02.12.2019 12:05:28' '02.12.2019 12:07:58'
 '02.12.2019 12:08:04' '02.12.2019 12:08:31' '02.12.2019 12:11:31'
 '02.12.2019 12:11:37' '02.12.2019 12:13:02' '02.12.2019 12:14:19'
 '02.12.2019 12:16:09' '02.12.2019 12:18:34' '02.12.2019 12:23:45'
 '02.12.2019 12:24:08' '02.12.2019 12:24:55' '02.12.2019 12:27:11'
 '02.12.2019 12:28:29' '02.12.2019 12:28:59' '02.12.2019 12:31:11'
 '02.12.2019 12:39:00' '02.12.2019 12:39:31' '02.12.2019 12:40:08'
 '02.12.2019 12:42:34' '02.12.2019 12:43:59' '02.12.2019 12:45:44'
 '02.12.2019 12:53:59' '02.12.2019 12:54:44' '02.12.2019 12:56:07'
 '02.12.2019 12:59:36' '02.12.2019 13:02:11' '02.12.2019 13:03:05'
 '02.12.2019 13:03:53' '02.12.2019 13:05:07' '02.12.2019 13:12:06'
 '02.12.2019 13:13:53' '02.12.2019 13:14:01' '02.12.2019 13:16:12'
 '02.12.2019 13:21:36' '02.12.2019 13:23:36' '02.12.2019 13:27:02'
 '02.12.2019 13:30:29' '02.12.2019 13:33:23' '02.12.2019 13:33:33'
 '02.12.2019 13:34:49' '02.12.2019 13:37:05' '02.12.2019 13:37:07'
 '02.12.2019 13:41:41' '02.12.2019 13:46:31' '02.12.2019 13:50:08'
 '02.12.2019 13:50:39' '02.12.2019 13:51:12' '02.12.2019 13:51:36'
 '02.12.2019 13:52:27' '02.12.2019 13:53:04' '02.12.2019 13:56:29'
 '02.12.2019 13:59:02' '02.12.2019 14:04:57' '02.12.2019 14:11:51'
 '02.12.2019 14:16:47' '02.12.2019 14:21:39' '02.12.2019 14:23:35'
 '02.12.2019 14:25:37' '02.12.2019 14:27:33' '02.12.2019 14:29:11'
 '02.12.2019 14:34:27' '02.12.2019 14:35:46' '02.12.2019 14:35:55'
 '02.12.2019 14:40:45' '02.12.2019 14:41:29' '02.12.2019 14:41:59'
 '02.12.2019 14:43:33' '02.12.2019 14:44:36' '02.12.2019 14:46:50'
 '02.12.2019 14:47:18' '02.12.2019 14:55:58' '02.12.2019 15:08:55'
 '02.12.2019 15:10:43' '02.12.2019 15:11:20' '02.12.2019 15:12:44'
 '02.12.2019 15:12:51' '02.12.2019 15:14:20' '02.12.2019 15:15:03'
 '02.12.2019 15:17:44' '02.12.2019 15:18:34' '02.12.2019 15:18:41'

In [63]:
it_salary.describe()

,age,Years of experience,Current Salary,Salary one year ago,Salary two years ago,Yearly brutto salary (without bonus and stocks),Yearly bonus,Yearly stocks,Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country,Yearly bonus one year ago. Only answer if staying in same country,Yearly stocks one year ago. Only answer if staying in same country,Number of home office days per month,0,yearly_salary
count,2780.000000,1723.000000,750.000000,596.000000,463.000000,990.000000,530.000000,203.000000,603.000000,257.000000,139.000000,639.000000,0.0,1.253000e+03
mean,32.401079,8.537725,68381.765333,62187.278523,58013.475162,72562.212121,7857.169811,18263.119803,65803.895522,8144.000000,8204.476331,6.462050,NaN,8.027904e+07
std,5.406931,4.906948,21196.306557,20163.008663,20413.048908,23947.379182,10320.628344,61012.387773,20554.017614,15067.876701,45224.397374,15.384601,NaN,2.825061e+09
min,20.000000,0.000000,10300.000000,10001.000000,10001.000000,6000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000100e+04
25%,29.000000,5.000000,57000.000000,52000.000000,48000.000000,60000.000000,300.000000,1.000000,55000.000000,1000.000000,0.000000,2.000000,NaN,5.880000e+04
50%,32.000000,8.000000,65000.000000,60000.000000,56000.000000,70000.000000,5000.000000,2000.000000,65000.000000,5000.000000,0.100000,4.000000,NaN,7.000000e+04
75%,35.000000,11.000000,75000.000000,70000.000000,67000.000000,80000.000000,10000.000000,20000.000000,75000.000000,9000.000000,3000.000000,7.000000,NaN,8.000000e+04
max,69.000000,38.000000,200000.000000,200000.000000,150000.000000,216000.000000,80000.000000,750000.000000,200000.000000,150000.000000,520000.000000,365.000000,NaN,1.000000e+11

### Filling Null Values

In [69]:
it_salary['age'] = it_salary['age'].fillna(it_salary.groupby('experience')['age'].transform('mean'))


#drop rows with null values and null experience
it_salary.dropna(subset=['age'], how='all', inplace=True)

#Changing the age datatype to int